@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  font-family: 'Lato', sans-serif; }

.main-heading {
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold; }

.container {
  margin: 0 auto;
  padding: 0;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 720px;
      padding: 0 15px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .main-nav li {
    margin-right: 50px; }
    .main-nav li:last-of-type {
      margin-right: 0; }

.main-banner {
  margin: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-banner--left > div {
  width: 95%; }

.main-banner--left__top h3 {
  margin-top: 0; }

.main-banner--left__top h4 {
  font-size: 16px; }

.main-banner--left__top h3, .main-banner--left__top h4 {
  font-weight: bold; }

.main-banner--left__bottom p {
  margin-bottom: 40px; }

.main-banner--right img {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px 0 #c1c1c1;
          box-shadow: 0 0 20px 0 #c1c1c1; }

.main-banner--cta {
  padding: 10px 41px;
  background: red;
  border-radius: 100% / 170px;
  color: #fff;
  font-weight: bold; }
  .main-banner--cta:hover {
    color: #fff;
    text-decoration: none; }
  .main-banner--cta img {
    width: 20px;
    margin-bottom: 4px;
    margin-left: 10px; }

.main-about {
  text-align: center; }

.main-about--red {
  color: red; }

.my-work {
  text-align: center; }

.get-in-touch {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .get-in-touch .container {
    z-index: 3; }
  .get-in-touch > img {
    position: absolute;
    width: 100%; }
  .get-in-touch a, .get-in-touch p {
    color: #fff; }
  .get-in-touch p {
    margin-bottom: 45px; }
  .get-in-touch .get-in-touch--bcg {
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

footer {
  padding: 15px 0;
  background: #666; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer-nav a {
    color: #f1f2f2; }
    .footer-nav a:hover {
      text-decoration: none;
      color: #fff;
      cursor: pointer; }

.uk-nav-default > li > a {
  color: #333; }
  .uk-nav-default > li > a:hover {
    color: red; }

.my-work--cta__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .my-work--cta__wrapper a {
    width: 45%;
    position: relative;
    overflow: hidden;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    .my-work--cta__wrapper a:hover {
      text-decoration: none; }
    .my-work--cta__wrapper a:hover > .my-work--bcg {
      background: rgba(0, 0, 0, 0.4); }
    .my-work--cta__wrapper a:hover > img {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      top: 0;
      left: 0; }
    .my-work--cta__wrapper a:hover > .my-work--title {
      background: #fff;
      color: #424242; }
  .my-work--cta__wrapper img {
    position: absolute;
    height: 340px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  .my-work--cta__wrapper .my-work--title {
    z-index: 2;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    padding: 5px 10px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }

.my-work--bcg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in; }

.ppc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .ppc-header img {
    width: 100px;
    border-radius: 50%;
    margin-top: 25px; }

.ppc-main--second {
  color: red;
  margin: 0;
  font-weight: bold; }

.main-heading {
  margin-bottom: 10px; }

.brake {
  width: 150px;
  height: 6px;
  border-radius: 5px;
  margin: 25px auto; }

.brake-red {
  background: red; }

.brake-gray {
  background: grey; }

.ppc-intro {
  text-align: center; }

.service-card {
  margin-right: 25px; }
  .service-card:last-of-type {
    margin-right: 0; }
  .service-card .brake {
    width: 100px;
    margin: 10px 0; }
  .service-card .uk-card-body {
    text-align: center; }

.ppc-services--cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ppc-services--header {
  text-align: center;
  margin-top: 50px; }

.ppc--new-clients__wrapper {
  position: relative;
  margin-bottom: 100px; }

.ppc--new-client__header {
  text-align: center;
  margin-top: 100px; }

.client-card {
  width: calc(50% - 35px); }
  .client-card:nth-child(odd) {
    margin-left: auto; }
  .client-card:nth-child(even)::after {
    right: -50px; }
  .client-card:nth-child(even)::before {
    content: "";
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: -15px;
    top: calc(50% - 45px);
    -webkit-filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.08));
            filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.08)); }
  .client-card:nth-child(odd)::before {
    content: "";
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -15px;
    top: calc(50% - 45px);
    -webkit-filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.08));
            filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.08)); }
  .client-card:nth-child(odd)::after {
    left: -45px; }
  .client-card::after {
    position: absolute;
    top: calc(50% - 50px);
    height: 25px;
    width: 25px;
    background: red;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    z-index: 2; }
  .client-card:nth-child(2)::after {
    content: '1'; }
  .client-card:nth-child(3)::after {
    content: '2'; }
  .client-card:nth-child(4)::after {
    content: '3'; }
  .client-card:nth-child(5)::after {
    content: '4'; }

.ppc--client-vertical-space {
  background: grey;
  width: 15px;
  position: absolute;
  top: 81px;
  bottom: 0;
  left: calc(50% - 5px); }
